@import "tailwindcss";

.container {
  grid-template-areas:
    "menu header"
    "menu content"
    "menu footer";
  grid-template-columns: 1fr 3fr;
  background-color: #2196F3;
}
.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}
.container > div.header {
  grid-area: header;
  text-align: center;
  height: 60px;
}
.container > div.menu {
  grid-area: menu;
}
.container > div.menu > div > ul > li{
  padding: 10px;
  margin-left: 7px;
}
.container > div.content {
  grid-area: content;
  height: 250px;

}
.container > div.footer {
  grid-area: footer;
  height: 395px;
}